body {
  padding: 0px;
}

select,
button {
  margin: 2px;
  /* font-size: 18px; */
}

select {
  max-width: 30em;
}

button {
  display: inline-block;
  /* padding: 4px; */
  width: 5em;
  text-align: center;
}

#localhost-info,
#runway-info {
  display: none;
}

#openstreetmap {
  margin-top: 35px;
}
